@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500 ;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
    
}


.logoup{
 
 font-size: 19px;
 justify-content: center;
 align-items: center;
 display: flex;
 
 width: 123px;
}
.logoupfooter{
  font-size: 28px;
 justify-content: center;
 align-items: center;
 display: flex;
 
 width: 210px;
}

.logodown{
  font-size: 25px;
   display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
}
.logodownfooter{
  font-size: 35px;
   display: flex;
  justify-content: center;
 align-items: center;
  width: 210px;
}

.mainlogo{
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  color: #2E3A46;
  
}

.mainlogofooter{
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  color: #2E3A46;
  padding-top: 50px;
}


.Navhead{
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-evenly;
  
}
.discoverone{
   display: flex;
  width: 200px;
  
}



.discover {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 30px;
  background: linear-gradient(299deg, rgba(46, 58, 70, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(46, 58, 70, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-clip: text; 
  border: 2px solid #2E3A46;
  display: flex;
  flex-shrink: 0;
}


.nav-links{
  display: flex;
  list-style-type: none;
  gap: 10px;
  font-family: "Open Sans";
  font-size: larger;
  font-weight: 30px;
  background-color: #00BCD4;
  border-radius: 20px;
  padding: 10px 30px;
  color: #ffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
  
}


.buttons-nav{
  padding: 5px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  
}
.Footer{
  height: 100%;
  width: 100%;
  background: #ffffff;
  background: linear-gradient(184deg, rgba(255, 255, 255, 1) 32%, rgba(0, 188, 212, 1) 100%, rgba(46, 58, 70, 1) 100%);
  

}

.MainFooter{
  
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 350px;
}

.navlinks-footer{
  list-style-type: none;
  font-family: "Roboto";
  color: #2E3A46;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 26px;
}

.input-bar{
  padding: 15px 25px ;
  border-radius: 30px;
  list-style-type: none;
   border: none;         
  outline: none;  
  width: 250px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background: #2E3A46;
  color: #ffff;
}

.Subscribe{
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #ffff;
  font-family: "Open Sans";
  font-weight: bold;
}

input::placeholder {
  color: rgb(206, 200, 200);
  font-family: "Roboto";
  font-size: 14px;
}

.Subscribe-div{
  display: flex;
  justify-content: end;
  padding-top: 60px;
  padding-right: 200px;
  gap: 10px;
}

.copy-right{
  font-family: "Roboto";
  font-size: 15px;
  
}

.finalfooter{
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.social-med{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


@media (min-width: 601px) {
  
  .nav-links{
    display: none;
  }
  
}


@media (min-width: 1011px) {
  .nav-links{
    display: flex;
  }
  
}




@media (min-width: 1010px) {
  .menubar{
    display: none;
  }
  
  
}


@media (max-width: 600px){
  .nav-links{
    display: none;
  }
 
 
}





